/*
* Yaroslav Yachmenov
*/

.wrap > .options-panel > h2.logo{
    background-repeat: no-repeat;
    background-size: 100px 100px;
    height: 100px;
    line-height: 100px;
    padding-left: 125px;
}

#mtwi-import .progress-block{
    margin-bottom: 50px;
}

#mtwi-import .progress-block label{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#mtwi-import .progress-block progress{
    width: 100%;
    height: 30px;
    margin: 10px 0; 
}

#mtwi-import > #do-import button{
    display: block;
    margin: 0 auto;
    height: 100%;
}

#mtwi-import > #do-regenerate button{
    margin: 25px 0;
}

#mtwi-import .progress-block.single{
    margin-top: 50px;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: rgba(225, 225, 225, 0.8);
}
body .ui-tooltip {
    border-width: 2px;
}
